<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cathy Bakery</title>
    <link rel="stylesheet" href="static/style.css">  <!-- Link the css file -->
    <script type = "text/javascript" src = "static/index.js"> </script>
</head>
<body onload = "showAlert()" href = '/login'>
   <script> 
    function showAlert(){
        alert("Wrong Email or Password")
    }
   </script>
</body>
</html>